<!DOCTYPE html>
<html>
<head>
  <title>Amoskim</title>
  <!-- Added normalize separately-->
  <%= stylesheet_link_tag    "reset/Reset", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</html>
